-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: scolarite
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anneeformation`
--

DROP TABLE IF EXISTS `anneeformation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anneeformation` (
  `anneeformation_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ordre` tinyint unsigned NOT NULL,
  `libelle` varchar(100) DEFAULT NULL,
  `parcours_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`anneeformation_id`),
  KEY `parcours_id` (`parcours_id`),
  CONSTRAINT `anneeformation_ibfk_1` FOREIGN KEY (`parcours_id`) REFERENCES `parcours` (`parcours_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=583 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anneeformation`
--

LOCK TABLES `anneeformation` WRITE;
/*!40000 ALTER TABLE `anneeformation` DISABLE KEYS */;
/*!40000 ALTER TABLE `anneeformation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anneescolaire`
--

DROP TABLE IF EXISTS `anneescolaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anneescolaire` (
  `annee_scolaire` varchar(9) NOT NULL,
  PRIMARY KEY (`annee_scolaire`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anneescolaire`
--

LOCK TABLES `anneescolaire` WRITE;
/*!40000 ALTER TABLE `anneescolaire` DISABLE KEYS */;
INSERT INTO `anneescolaire` VALUES ('2021'),('2022'),('2023'),('2024'),('2025'),('2026');
/*!40000 ALTER TABLE `anneescolaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codeannee`
--

DROP TABLE IF EXISTS `codeannee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codeannee` (
  `codeannee_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `signification` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`codeannee_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codeannee`
--

LOCK TABLES `codeannee` WRITE;
/*!40000 ALTER TABLE `codeannee` DISABLE KEYS */;
/*!40000 ALTER TABLE `codeannee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codercue`
--

DROP TABLE IF EXISTS `codercue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codercue` (
  `codercue_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `signification` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`codercue_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codercue`
--

LOCK TABLES `codercue` WRITE;
/*!40000 ALTER TABLE `codercue` DISABLE KEYS */;
/*!40000 ALTER TABLE `codercue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codeue`
--

DROP TABLE IF EXISTS `codeue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codeue` (
  `codeue_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `signification` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`codeue_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codeue`
--

LOCK TABLES `codeue` WRITE;
/*!40000 ALTER TABLE `codeue` DISABLE KEYS */;
/*!40000 ALTER TABLE `codeue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contribuerue`
--

DROP TABLE IF EXISTS `contribuerue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contribuerue` (
  `rcue_id` bigint unsigned NOT NULL,
  `ue_id` int unsigned NOT NULL,
  `coefficient` decimal(5,2) NOT NULL DEFAULT '1.00',
  PRIMARY KEY (`rcue_id`,`ue_id`),
  KEY `ue_id` (`ue_id`),
  CONSTRAINT `contribuerue_ibfk_1` FOREIGN KEY (`rcue_id`) REFERENCES `rcue` (`rcue_id`) ON DELETE CASCADE,
  CONSTRAINT `contribuerue_ibfk_2` FOREIGN KEY (`ue_id`) REFERENCES `ue` (`ue_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contribuerue`
--

LOCK TABLES `contribuerue` WRITE;
/*!40000 ALTER TABLE `contribuerue` DISABLE KEYS */;
/*!40000 ALTER TABLE `contribuerue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departement`
--

DROP TABLE IF EXISTS `departement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departement` (
  `dep_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `accronyme` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `visible` tinyint(1) DEFAULT NULL,
  `date_creation` date DEFAULT NULL,
  `nom_dep` varchar(100) NOT NULL,
  PRIMARY KEY (`dep_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departement`
--

LOCK TABLES `departement` WRITE;
/*!40000 ALTER TABLE `departement` DISABLE KEYS */;
INSERT INTO `departement` VALUES (1,'CJ','migré de ScoDoc7',1,'2021-09-11','CJ'),(2,'GEA','migré de ScoDoc7',1,'2021-09-11','GEA'),(3,'GEII','migré de ScoDoc7',1,'2021-09-11','GEII'),(4,'INFO','migré de ScoDoc7',1,'2021-09-11','Info'),(5,'RT','migré de ScoDoc7',1,'2021-09-11','RT'),(7,'FC','migré de ScoDoc7',0,'2021-09-11','FC'),(8,'STID','migré de ScoDoc7',1,'2021-09-11','SD');
/*!40000 ALTER TABLE `departement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `effectuerannee`
--

DROP TABLE IF EXISTS `effectuerannee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `effectuerannee` (
  `annee_scolaire` varchar(9) NOT NULL,
  `anneeformation_id` bigint unsigned NOT NULL,
  `etudiant_id` bigint unsigned NOT NULL,
  `codeannee_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`annee_scolaire`,`anneeformation_id`,`etudiant_id`,`codeannee_id`),
  KEY `anneeformation_id` (`anneeformation_id`),
  KEY `etudiant_id` (`etudiant_id`),
  KEY `codeannee_id` (`codeannee_id`),
  CONSTRAINT `effectuerannee_ibfk_1` FOREIGN KEY (`annee_scolaire`) REFERENCES `anneescolaire` (`annee_scolaire`) ON DELETE CASCADE,
  CONSTRAINT `effectuerannee_ibfk_2` FOREIGN KEY (`anneeformation_id`) REFERENCES `anneeformation` (`anneeformation_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerannee_ibfk_3` FOREIGN KEY (`etudiant_id`) REFERENCES `etudiant` (`etudiant_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerannee_ibfk_4` FOREIGN KEY (`codeannee_id`) REFERENCES `codeannee` (`codeannee_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `effectuerannee`
--

LOCK TABLES `effectuerannee` WRITE;
/*!40000 ALTER TABLE `effectuerannee` DISABLE KEYS */;
/*!40000 ALTER TABLE `effectuerannee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `effectuerrcue`
--

DROP TABLE IF EXISTS `effectuerrcue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `effectuerrcue` (
  `annee_scolaire` varchar(9) NOT NULL,
  `rcue_id` bigint unsigned NOT NULL,
  `etudiant_id` bigint unsigned NOT NULL,
  `codercue_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`annee_scolaire`,`rcue_id`,`etudiant_id`,`codercue_id`),
  KEY `rcue_id` (`rcue_id`),
  KEY `etudiant_id` (`etudiant_id`),
  KEY `codercue_id` (`codercue_id`),
  CONSTRAINT `effectuerrcue_ibfk_1` FOREIGN KEY (`annee_scolaire`) REFERENCES `anneescolaire` (`annee_scolaire`) ON DELETE CASCADE,
  CONSTRAINT `effectuerrcue_ibfk_2` FOREIGN KEY (`rcue_id`) REFERENCES `rcue` (`rcue_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerrcue_ibfk_3` FOREIGN KEY (`etudiant_id`) REFERENCES `etudiant` (`etudiant_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerrcue_ibfk_4` FOREIGN KEY (`codercue_id`) REFERENCES `codercue` (`codercue_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `effectuerrcue`
--

LOCK TABLES `effectuerrcue` WRITE;
/*!40000 ALTER TABLE `effectuerrcue` DISABLE KEYS */;
/*!40000 ALTER TABLE `effectuerrcue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `effectuerue`
--

DROP TABLE IF EXISTS `effectuerue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `effectuerue` (
  `annee_scolaire` varchar(9) NOT NULL,
  `ue_id` int unsigned NOT NULL,
  `etudiant_id` bigint unsigned NOT NULL,
  `codeue_id` bigint unsigned NOT NULL,
  `moyenne` decimal(4,2) DEFAULT NULL,
  PRIMARY KEY (`annee_scolaire`,`ue_id`,`etudiant_id`,`codeue_id`),
  KEY `ue_id` (`ue_id`),
  KEY `etudiant_id` (`etudiant_id`),
  KEY `codeue_id` (`codeue_id`),
  CONSTRAINT `effectuerue_ibfk_1` FOREIGN KEY (`annee_scolaire`) REFERENCES `anneescolaire` (`annee_scolaire`) ON DELETE CASCADE,
  CONSTRAINT `effectuerue_ibfk_2` FOREIGN KEY (`ue_id`) REFERENCES `ue` (`ue_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerue_ibfk_3` FOREIGN KEY (`etudiant_id`) REFERENCES `etudiant` (`etudiant_id`) ON DELETE CASCADE,
  CONSTRAINT `effectuerue_ibfk_4` FOREIGN KEY (`codeue_id`) REFERENCES `codeue` (`codeue_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `effectuerue`
--

LOCK TABLES `effectuerue` WRITE;
/*!40000 ALTER TABLE `effectuerue` DISABLE KEYS */;
/*!40000 ALTER TABLE `effectuerue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etudiant`
--

DROP TABLE IF EXISTS `etudiant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etudiant` (
  `etudiant_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code_nip` varchar(100) NOT NULL,
  `etat` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`etudiant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3941 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etudiant`
--

LOCK TABLES `etudiant` WRITE;
/*!40000 ALTER TABLE `etudiant` DISABLE KEYS */;
/*!40000 ALTER TABLE `etudiant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formation`
--

DROP TABLE IF EXISTS `formation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formation` (
  `formation_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `accronyme` varchar(50) NOT NULL,
  `titre` varchar(100) NOT NULL,
  `version` tinyint unsigned DEFAULT NULL,
  `formation_code` varchar(50) NOT NULL,
  `type_parcours` int unsigned DEFAULT NULL,
  `titre_officiel` varchar(255) NOT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `code_specialite` varchar(50) DEFAULT NULL,
  `archived` tinyint(1) DEFAULT '0',
  `dep_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`formation_id`),
  KEY `dep_id` (`dep_id`),
  CONSTRAINT `formation_ibfk_1` FOREIGN KEY (`dep_id`) REFERENCES `departement` (`dep_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=312 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formation`
--

LOCK TABLES `formation` WRITE;
/*!40000 ALTER TABLE `formation` DISABLE KEYS */;
/*!40000 ALTER TABLE `formation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formsemestre`
--

DROP TABLE IF EXISTS `formsemestre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formsemestre` (
  `formsemestre_id` int unsigned NOT NULL,
  `titre` varchar(100) NOT NULL,
  `semestre_num` tinyint unsigned DEFAULT NULL,
  `date_debut` date DEFAULT NULL,
  `date_fin` date DEFAULT NULL,
  `titre_long` varchar(255) DEFAULT NULL,
  `etape_apo` varchar(50) DEFAULT NULL,
  `anneeformation_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`formsemestre_id`),
  KEY `anneeformation_id` (`anneeformation_id`),
  CONSTRAINT `formsemestre_ibfk_1` FOREIGN KEY (`anneeformation_id`) REFERENCES `anneeformation` (`anneeformation_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formsemestre`
--

LOCK TABLES `formsemestre` WRITE;
/*!40000 ALTER TABLE `formsemestre` DISABLE KEYS */;
/*!40000 ALTER TABLE `formsemestre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parcours`
--

DROP TABLE IF EXISTS `parcours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parcours` (
  `parcours_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `libelle` varchar(100) NOT NULL,
  `formation_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`parcours_id`),
  KEY `formation_id` (`formation_id`),
  CONSTRAINT `parcours_ibfk_1` FOREIGN KEY (`formation_id`) REFERENCES `formation` (`formation_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parcours`
--

LOCK TABLES `parcours` WRITE;
/*!40000 ALTER TABLE `parcours` DISABLE KEYS */;
/*!40000 ALTER TABLE `parcours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rcue`
--

DROP TABLE IF EXISTS `rcue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rcue` (
  `rcue_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nomCompetence` varchar(100) NOT NULL,
  `niveau` tinyint unsigned DEFAULT NULL,
  `anneeformation_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`rcue_id`),
  KEY `anneeformation_id` (`anneeformation_id`),
  CONSTRAINT `rcue_ibfk_1` FOREIGN KEY (`anneeformation_id`) REFERENCES `anneeformation` (`anneeformation_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4096 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rcue`
--

LOCK TABLES `rcue` WRITE;
/*!40000 ALTER TABLE `rcue` DISABLE KEYS */;
/*!40000 ALTER TABLE `rcue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ue`
--

DROP TABLE IF EXISTS `ue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ue` (
  `ue_id` int unsigned NOT NULL,
  `rcue_id` bigint unsigned NOT NULL,
  `formsemestre_id` int unsigned NOT NULL,
  PRIMARY KEY (`ue_id`),
  KEY `rcue_id` (`rcue_id`),
  KEY `formsemestre_id` (`formsemestre_id`),
  CONSTRAINT `ue_ibfk_1` FOREIGN KEY (`rcue_id`) REFERENCES `rcue` (`rcue_id`) ON DELETE CASCADE,
  CONSTRAINT `ue_ibfk_2` FOREIGN KEY (`formsemestre_id`) REFERENCES `formsemestre` (`formsemestre_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ue`
--

LOCK TABLES `ue` WRITE;
/*!40000 ALTER TABLE `ue` DISABLE KEYS */;
/*!40000 ALTER TABLE `ue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'testadmin','$2y$10$wO0usZ4ju4ivozFYG3DWq.xF7N4oo9Zpy2G9k6dXaxOVxbgHjR5F.','admin');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 19:09:48
